body{
    background-color: #1d3f63;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul{
    background-color: #729bc7;
    padding: 0%;
    margin: 0%;
}
nav> ul> li{
    list-style: none;
    display: inline-block;
    padding: 10px;  
}
a{
    color: white;
    text-decoration: none;
}
#div1{
    text-align: center;
}
a:hover{
    color: #1d3f63;
    font-size: 20px;
    border: 1px;
    border-color: #1d3f63;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}
input[type="search"]{
    border-radius: 20px;
}
#se:hover{
    font-size: 15px;
}

#h1{
    background-color: white;
    text-align: center;
    font-size: 25px;
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius:30px ;
    font-family: 'Times New Roman', Times, serif;
    line-height: 100px;
    
}

#para1{
    background-color: lightgray;
    width: 600px;
    height: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:1%;
    border-radius: 20px;
}
.hed{
    text-align: center;
    color: white;
}
.size{
    font-size: 30px;
    border: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 2px 2px 10px white;
}
.style{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bor{
    
    width: 400px;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-color: #1d3f63;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 8px #879fbb;
    border-radius: 50px;  
    
}


span{
    color: black;
}
.hg{
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-top: 15px;

}

.div1>video{
    width: 600;
    height: 340;
    margin-right: auto;
    margin-left: auto;
    display: block; 
      
}

video{
    box-shadow: 5px 4px 10px white;
    border-radius: 20px;
}
.div1:hover{
    opacity: 60%;
    scale: 1.1;
    transition: all .3s ease-out;
}


div>form{
    color: white;
    background-color: #729bc7;
    width: 700px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
    border-radius: 30px;
    border-style: double;
    border-width: 2px;
    border-color: white;
   
}
form>textarea{
    border-radius: 10px;
    
}
#sub{
    border-radius: 5px;
}
#la1{
    font-size: 26px; 
}
div>image{
    display: flex;
    justify-content: center;
    align-items: center;   
}
/* #img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10%;  
}
div>img{
    width: 250;
    height: 500;
    border: 2px solid white;
} */
/* #img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-right: 100px;

} */
 .img{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .box{
    width: 250px;
    margin: 0 15px;
    
 }
 .box>img{
    border-radius: 20px;
    box-shadow: 2px 2px 10px white ;
 }
 .box>img:hover{
    transform:scale(1.2);
    border-style: solid;
    border-width: 1px;
    border-color: white;

 }
 #fig{
    margin: auto;
    display: block;
    border: solid;
    border-color: white;
    border-width: 2px;
    box-shadow: 2px 2px 8px white;
    border-radius: 16px;
    
 }
 #fig:hover{
    opacity: 60%;
    scale: 1.1;
 }
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 footer{
    background-color: hsl(211, 54%, 11%);
    margin-top: 20px;
 }
 #hs{
    width: 800px;
    height: 400px;
    color: #1d3f63;
    background-color: white;
    text-align: center;
    line-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    border-radius: 30px;
    border: solid 5px #072647;
    

 }

#em2{
    width: 100%;
    height: 50px;
    background-color: #072647;
    font-size: 20px;
    line-height: 50px;
 }
 
